Repository DeBankDeFi/go-ethereum-debank, changes with the labels that .github/labeler.yml gives for each.
All labels: Need-Review, CI, Eth, P2p, Ops, Node, Core, Version-Bump

eth/tracer,rpc: use build-in flatCallTracer
  core/blockchain.go
  core/blockchain_test.go
  core/rawdb/accessors_chain_test.go
  core/state_processor.go
  core/types.go
  core/vm/interpreter.go
  core/vm/logger.go
  eth/api_pre_exec.go
  eth/api_tx_trace.go
  eth/backend.go
  eth/downloader/downloader_test.go
  eth/state_accessor.go
  go.mod
  go.sum
  internal/ethapi/transaction_args_test.go
  txtrace/store.go
Labels: Need-Review, Eth, Core

fix
  .github/workflows/lint.yml
Labels: Need-Review, CI

feat: impl nodex
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/utils/flags.go
  core/blockchain.go
  core/rawdb/accessors_snapshot.go
  core/rawdb/database.go
  core/rawdb/schema.go
  core/state/snapshot/difflayer.go
  core/state/snapshot/journal2.go
  core/state/snapshot/snapshot.go
  core/state/statedb.go
  core/syncer.go
  eth/backend.go
  eth/downloader/skeleton.go
  eth/ethconfig/config.go
  eth/ethconfig/gen_config.go
  ethdb/kv_remote.go
  ethdb/leveldb/leveldb.go
  ethdb/leveldb/leveldb_wrap.go
  go.mod
  go.sum
  repl/config.go
  repl/writer.go
Labels: Need-Review, Eth, Core

all:support nodex
  core/blockchain.go
  core/syncer.go
  ethdb/kv_remote.go
  ethdb/leveldb/leveldb.go
  ethdb/leveldb/leveldb_wrap.go
  go.mod
  go.sum
  repl/writer.go
Labels: Need-Review, Core

eth/pre: add stateOverrides support
  eth/api_pre_exec.go
Labels: Need-Review, Eth

feat: snapshot dump and add `leafage_*` api support
  README.md
  cmd/geth/chaincmd.go
  cmd/geth/main.go
  cmd/geth/snapshot.go
  cmd/utils/flags.go
  core/blockchain.go
  core/blockchain_reader.go
  core/rawdb/accessors_diff.go
  core/rawdb/schema.go
  core/state/dump.go
  core/state/state_object.go
  core/state/statedb.go
  core/types/state_diff.go
  eth/api_leafage.go
  eth/backend.go
Labels: Need-Review, Eth, Core

eth/pre: add stateOverrides support (#5)
  eth/api_pre_exec.go
Labels: Need-Review, Eth

.github/labeler.yml:

Need-Review:
  - '*/**/*'

CI:
  - any: ['.github/**/*']

Eth:
  - any: ['eth/**/*']

P2p:
  - any: ['p2p/**/*']

Ops:
  - any: ['metrics/**/*']

Node:
  - any: ['node/**/*']

Core:
  - any: ['core/**/*']

Version-Bump:
  - any: ['params/version.go']
